@layer ragflow {
  .page {
    h2 {
      font-size: 1.6rem;
    }

    ul {
      @apply list-none p-0;

      > li {
        @apply mt-2;

        :global(.icon) {
          @apply mr-2;
        }
      }
    }
  }

  :where(.btn) {
    @apply border-0 px-4 py-2 rounded-md;
    @apply text-standard bg-standard;

    line-height: var(--ragflow-line-height-base);
    font-size: inherit;
  }

  :where(
    .card,
    .secondaryCard
  ) {
    @apply p-4 mobile:p-6 desktop:p-8 rounded-xl border-1 border-solid border-component;

    background-color: rgb(var(--ragflow-theme-black) / 2%);
  }

  :where(.secondaryCard) {
    @apply bg-standard;
  }

  :where(.bgPolka) {
    background-image: radial-gradient(var(--ragflow-border-component) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}