// @media (min-width: <breakpoint-value>)
$breakpoint-xs: 480px;
$breakpoint-mobile: 577px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-desktop: 997px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1440px;
$breakpoint-3xl: 1536px;

@layer ragflow {
  :root {
    --ragflow-page-padding: 1.5rem;
    --ragflow-page-padding-lg: 2rem;

    @media (min-width: $breakpoint-desktop) {
      --ragflow-page-padding: 4rem;
      --ragflow-page-padding-lg: 6rem;
    }

    --ragflow-hero-font-size: 3rem;

    @media (min-width: $breakpoint-mobile) {
      --ragflow-hero-font-size: 4.5rem;
    }

    @media (min-width: $breakpoint-desktop) {
      --ragflow-hero-font-size: 6rem;
    }
  }
}