.features {
  display: flex;
  align-items: center;
  padding: 6rem 0 5rem;
  width: 100%;
  background-image: url("/img/carousel-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featuresWrapper {
  text-align: center;
}

.featuresItem {
  padding: 96px 0;
  text-align: center;
}
.featuresItemBorder {
  border-top: 1px solid #d0d5dd;
}

.featuresTitle {
  color: #101828;
  text-align: center;

  font-family: Inter;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-bottom: 62px;
}

.featuresSubLabel {
  display: inline-flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid #b2ccff;
  background: #eff4ff;
  color: #004eeb;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
