.features {
  display: flex;
  align-items: center;
  padding: 6rem 0 5rem;
  width: 100%;
  background-image: url("https://www.freeimg.cn/i/2024/03/30/6607e44b9911c.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featuresWrapper {
  text-align: center;
}

.featuresItem {
  padding: 96px 0;
  text-align: center;
}
.featuresItemBorder {
  border-top: 1px solid #d0d5dd;
}

.featuresTitle {
  color: #101828;
  text-align: center;

  font-family: Inter;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  padding-bottom: 62px;
}

.featuresSubLabel {
  display: inline-flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid #b2ccff;
  background: #eff4ff;
  color: #004eeb;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}

.joinUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0 0;
}
.joinUsTitle {
  color: #0d0d12;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  padding-bottom: 20px;
}
.joinUsDescription {
  color: #393d5a;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 60px;
}

.joinUsConnection {
  display: flex;
  height: 84px;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 3%;
  border-radius: var(--radius-xs, 4px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(219, 235, 254, 0.8) 50.5%,
    rgba(255, 255, 255, 0.56) 100%
  );
}

.joinUsConnectionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #f5f5f6;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.joinUsLabel {
  color: #475467;
}

.joinUsArrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/arrow-join-us.svg");
}

.joinUsIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.joinUsTwitter {
  background: url("/img/twitter.svg");
}
.joinUsGithub {
  background: url("/img/github-join-us.svg") no-repeat;
}
.joinUsDiscord {
  background: url("/img/discord.svg") no-repeat;
}
