.backToTopButton {
  position: fixed;
  right: 1.3rem;
  bottom: 1.3rem;
  border-radius: 50%;
  background-color: var(--ifm-color-emphasis-200);
  width: 3rem;
  height: 3rem;
  z-index: calc(var(--ifm-z-index-fixed) - 1);
  box-shadow: var(--ifm-global-shadow-lw);
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

@media (hover: hover) {
  .backToTopButton:hover {
    background-color: var(--ifm-color-emphasis-300);
  }
}

.backToTopButtonShow {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
